body{
    background-color: aqua;
    padding: 0;
    display: inline-block;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2, h3 {
    color: brown;
}
header {
    background-color: bisque;
    padding: 10px 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;}
    nav ul li a {
        text-decoration: none;
        color: #330619;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        
    }
nav ul li a:hover {
color: grey;
}
main{
    padding: 20px;
}
section {
    margin-top: 20px;
    margin-bottom: 40px;
}
img {
    max-width: 30%;
    height: min-content;
    margin: auto;
    border-radius: 5px;
    border-color: rgb(129, 65, 12);
    border-width: medium;
    position: relative;
    top: -148px;
    left: 524px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 

}
footer {background-color: rgb(126, 125, 116);
    color: rgb(39, 182, 98);
    text-align: center;
    padding: 10px 0;
}
form button {
    background-color: #007bff;
    color: #e40202;
    cursor: pointer;
}
form input,
form textarea,
form button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
figcaption {
    text-align:justify;
    font-weight: 400;
    font-style: italic;
}